<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
</head>
<body>
  <!-- <form method="POST" action="http://localhost:3000/login"> -->
    <form>
    <label for="username">用户名：</label><input value="qq" type="text" id="username" name="username">
    <label for="password">密&nbsp;&nbsp;&nbsp;码：</label><input value="123" type="password" id="password" name="password">
    <input id="loginBtn" type="submit" value="登录">
  </form>
  <a href="./register">注册</a>

  <script src="/js/ajax.js" type="module"></script>
  <script src="/js/login.js" type="module"></script>
</body>
</html>