<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>register</title>
</head>

<body>
  <form method="POST">
    <label for="user">用户名：</label><input type="text" id="username" name="username">
    <label for="password">密&nbsp;&nbsp;&nbsp;码：</label><input type="password" id="password" name="password">
    <input id="registerBtn" type="submit" value="注册">
  </form>
  <a href="./login">登录</a>

  <script src="/js/ajax.js" type="module"></script>
  <script src="/js/register.js" type="module"></script>
</body>

</html>